@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Poppins:ital@1&display=swap');


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    --bg-white: #fff;
    --bg-blue: #0F749C;
    --bg-gray: #F8F8F8;
    --bg-pink: #ff555a;

    --text-white: #fff;
    --primary-text: #000;
    --secondary-text: #0f749c;


}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* padding: 0;
    margin: 0; */
    color: var(--primary-text);
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 45vw;
  background-repeat: no-repeat;
  background-size: 85% 500px;
  font-family: Nunito !important;
  color: #5B5B5B;
}

a,
a:hover {
    text-decoration: none;
}

/* .content_segment {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.main-p {
    color: aliceblue;
    font-size: 18px;
}

.header-wrapper {
    width: 100%;
    background: var(--bg-blue);
    padding-top: 1.5rem;
    height: auto;
}

.header-wrapper .navbar-wrapper {
    text-align: center;
    border-radius: 2.3rem;
    width: 88%;
    background-color: #3589B0;
    margin: auto;
    padding-left: 2rem;
    box-shadow: 1px 0px 2px #0c5f80, -1px 0px 2px #1289b8;


}

.header-wrapper .navbar-nav .nav-link {
    color: var(--text-white);
    text-transform: capitalize;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 30px;


}

.header-wrapper .navbar-nav .nav-item {
    padding: 7px 19px;
}

.header-wrapper .logo {
    height: 27px;
    width: 161px
}

.header-wrapper .navbar-toggler {
    color: var(--text-white);
    outline: none;
}

.leaders-navs {
    color: #29469d !important;
    font-size: calc(0.4em + 0.6vw);
    font-weight: 700;
    width: 30%;
    padding: 0px;
    margin: 0px;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.237);
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 16px;
}
.leaders-navs .nav-link.active {
    background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
    color: #ffffff !important;
    width: 95%;
    border-radius: 20px !important;
}
.nav-pills .nav-link.active {
    background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
    color: #ffffff !important;
    width: 100%;
    border-radius: 10px;
}

.nav-pills .nav-link:hover {
    width: 95%;
    border-radius: 0;
    background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
    color: #ffffff !important;
    border-radius: 10px;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
    border-radius: 6px;
    border-top: 4px solid #ff6753;
    border-bottom: 4px solid #ff6753;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  
  }
.nav-tabs-first-section {
    
    padding: 12px;
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.post-image{
    max-width:800px;
}
.hover-image .imgBx img {
    width: 100%;
}

.hover-image {
    width: 300px;
    height: 350px;
    background: #262626;
    overflow: hidden;
}

.hover-image .imgBx {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: 1s;
    top: 0;
    left: 0;
}
.hover-image .details {
    background: #0f749ca4;
    left: 0;
    top: 85%;
    padding: 10px 30px;
}
.hover-image .imgBx, .hover-image .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: 1s;
}


.submit-button {
    padding: 15px 40px;
    background: #ff555a;
    border: 0;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif, Arial, ;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
}

.submit-button::before {
    font-family: "Font Awesome 6 Free";
    font-size: larger;
    content: "\f178";
    font-weight: bold;
    color: var(--text-white);
    position: absolute;
    right: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.submit-button:hover::before {
    opacity: 1;
    right: 10px;
}

.banner-wrapper {
    background: var(--bg-blue);
    padding: 2rem 1rem;
    padding-bottom: 0 !important;
}

.banner-wrapper .container {
    padding: 0rem 3rem;
}

.banner-wrapper .banner-text {
    font-size: 18px;
    font-weight: 400;
}

.wrapper {
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
}

.container {
    padding: 0rem 3rem;
} */

h1,
h2,
h3,
h4,
h5,
.navbar-toggleable-md .navbar-nav .nav-link,
.market-header,
.btn,
.dropdown-item,
.form-control,
p {
  font-family: Nunito !important;
  color: #5B5B5B;
  font-size:16px;
}


h1 {
  font-size: 32px;
}



h2 {
  font-size: 24px;
}



h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #0f749c;
}

.submit-button a {
  color: #ff555a;
  font-size: 10px;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-family: 'Nunito', serif;
  color: white;
  font-weight: bolder;
}





.nav-container {
  transition: background-color 0.5s ease-out;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.navbar {
  white-space: nowrap;
  /* border-radius: 52px; */
  background: linear-gradient(180deg, #398bb3 0%, #378ab2 25%, #3489b0 75%, #227ea6 100%);
  box-shadow: 21px 21px 75px #0c5f80, -21px -21px 75px #1289b8;
}

.navbar-top {
  padding: 0px;
}
.content-box{
  padding-left: 0%;
  padding-right: 0%;
}


@media (max-width:995px){
  p{
    font-size: 14px !important;
  }
  .content-box{
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .content_segment {
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 2%;
    padding-bottom: 3%
  }
  h1 {
    font-size: 22px;
  }
  h5{
    font-size: 12px !important;
  }
}


@media (min-width: 995px) {
  .navbar {
    width: 80%;
    border-radius: 52px;
  }
  h1 {
    font-size: 26px;
  }
  h5{
    font-size: 16px !important;
  }

  .navbar-top {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
  }
  .content-box{
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

@media (max-width: 1295px) {
  .nav-container {
    background-color: #0f749c !important;
    transition: background-color 0.5s ease-in;
  }

  h1 {
    font-size: 24px;
  }

  body {
    background-image: none !important;
  }

  .navbar {
    width: 100%;
    box-shadow: 1px 0px 2px #0c5f80, -1px -0px 2px #1289b8;
  }



}

@media (min-width:1295) {
  .navbar {
    width: 80%;
  }
  h1 {
    font-size: 28px !important;
  }

  .navbar-top {
    padding-left: 6%;
    padding-right: 0% !important;
    padding-top: 2%;
  }
  p{
    font-size: 20px !important;
  }
}

@media (min-width:1700px) {
  .nav-container {
    background-color: #0f749c !important;
    transition: background-color 0.5s ease-in;
  }
  h1 {
    font-size: 32px;
  }

  p{
    font-size: 24px !important;
  }
}










.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  transition: box-shadow 0.3s ease-in-out;
}



.navbar ul li {
  padding-left: 1.em;
}




.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
  border-radius: 6px;
  border-top: 4px solid #ff6753;
  border-bottom: 4px solid #ff6753;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

}







.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown-menu>li>a:hover {
  background-color: #f8f9fa;
  color: #212529;
}



.main-p {
  color: aliceblue;
  font-size: 18px;
}


.avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: auto;
}


.explore-all {
  background-color: #ff555a !important;
  color: white;
  padding: 16px;

}

.content_segment {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 3%
}

.ourservice-card {
  box-shadow: #dfdfdf 0px 1px 1px;
  border-radius: 12px;
  padding-bottom: 12px;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.ourservice-card:hover {
  box-shadow: #1183B1 0px 4px 4px;
}


@media only screen and (min-width: 600px) {
  .main-label {
    padding-bottom: 3vw;
  }
}

.application-development-card {
  box-shadow: rgba(0, 0, 0, 0.06) 2px 2px 2px;
  padding-top: 16px;
  transition: box-shadow 0.3s ease-in-out;
}

.application-development-card:hover {
  box-shadow: rgba(0, 0, 0, 0.141) 4px 4px 8px;
  padding-top: 16px;
}

.client-card {
  padding: 16px !important;
  box-shadow: rgba(0, 0, 0, 0.226) 0.5px 0.5px 0.5px;
  border: 0.5px solid #5b5b5b2a !important;
  transition: box-shadow 0.3s ease-in-out;

}

.client-card:hover {
  box-shadow: rgba(0, 0, 0, 0.226) 4px 4px 4px;
}

.tech-icons {
  aspect-ratio: 1/1;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.092)0.5px 2px 2px 2px;
  transition: box-shadow 0.3s ease-in-out;

}

.tech-icons:hover {
  box-shadow: rgba(0, 0, 0, 0.386)0.5px 4px 4px 4px;
  border-bottom: 2px solid #ff555a;
}

.icon-label {
  font-size: 13px;
  font-weight: 800;
}

.submit-button {
  padding: 15px 40px;
  background: #ff555a;
  border: 0;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
}

.submit-button::after,
.submit-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.submit-button::after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.submit-button::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}


.submit-button:hover {
  padding: 15px 60px 15px 20px;
}

.submit-button:hover::after,
.submit-button:hover::before {
  opacity: 1;
  right: 15px;
}

.tech-we-work {
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.085) solid 0.5px;
  box-shadow: rgba(54, 53, 53, 0.123) 1px 1px 1px;
}

.nav-tabs-first-section {
  /* box-shadow: 4px 0px 4px #c2c2c2; */
  padding: 12px;
}




/* navs tabs */
.nav-pills {
  color: #29469d !important;
  font-size: calc(0.4em + 0.6vw);
  font-weight: 700;
  width: 20%;
  padding: 0px;
  margin: 0px;
  align-items: center;

}

/* .nav .navss{
  width: 32% !important;
} */

.nav-pills .nav-link.active {
  background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
  color: #ffffff !important;
  width: 95%;
  border-radius: 10px;
}

.nav-pills .nav-link {
  width: 95%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #0f749c !important;
  border-radius: 20px;
}

.nav-pills .nav-link:hover {
  width: 95%;
  border-radius: 0;
  background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
  color: #ffffff !important;
  border-radius: 10px;
}

/* navs tabs */

/* slider-css */

.carousel-control-next {
  width: 5%;
  opacity: 0.5;
  z-index: 999;
  top: 25%;
  right: 0%;
  transform: translateY(-50%);
}


.carousel-control-prev {
  width: 5%;
  opacity: 0.5;
  z-index: 999;
  top: 25%;
  left: 0%;
  transform: translateY(-50%);
}


.carousel-control-prev {
  top: 40%;
  left: -2%;
}

.carousel-control-next {
  top: 40%;
  right: -2%;
}

.carousel-control-next-top {
  border: 0;
  background: transparent;
  width: 10%;
  opacity: 1;
  z-index: 999;
  top: 25%;
  right: 0%;
  transform: translateY(10%);
}

.carousel-control-prev-top {
  border: 0;
  background: transparent;
  width: 10%;
  opacity: 1;
  z-index: 999;
  top: 25%;
  left: 0%;
  transform: translateY(10%);
}

.carousel-control-prev-top {
  top: 0;
  right: 0;
}

.carousel-control-next-top {
  top: 0;
  right: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

/* slider-css */



/* our teams profile card */
.our-team-card {
  background-color: white;
  border-radius: 10px;
  border: #5b5b5b1b solid 0.5px;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 2px;
  transition: box-shadow 0.3s ease-in-out;
}

.our-team-card:hover {
  box-shadow: rgba(0, 0, 0, 0.397) 8px 4px 8px;
}

/* our teams profile card */






/* services page */


/* navs tabs */
.leaders-navs {
  color: #29469d !important;
  font-size: calc(0.4em + 0.6vw);
  font-weight: 700;
  width: 30%;
  padding: 0px;
  margin: 0px;
  align-items: center;
  border: 0.5px solid rgba(0, 0, 0, 0.237);
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 16px;
}

@media(max-width:990px){
  .leaders-navs {
    width: 40% !important;
  }
}
@media(max-width:720px){
  .leaders-navs {
    width: 60% !important;

  }
}

/* .nav .navss{
  width: 32% !important;
} */

.leaders-navs .nav-link.active {
  background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
  color: #ffffff !important;
  width: 95%;
  border-radius: 20px !important;

}

.leaders-navs .nav-link {
  width: 95%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #0f749c !important;
  border-radius: 20px !important;
}

.leaders-navs .nav-link:hover {
  width: 95%;
  border-radius: 0;
  background-image: linear-gradient(to right, #ff555a, #fb7378) !important;
  color: #ffffff !important;
  border-radius: 10px;
}

/* navs tabs */


/* our experties container */
.our_experties_card {
  background-color: #f7f7f7;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.167) 0.5px 0.5px 0.5px;
  transition: box-shadow 0.3s ease-in-out;
}

.our_experties_card:hover {
  box-shadow: rgba(0, 0, 0, 0.188) 2px 2px 2px;
}

.icon_box {
  width: 16%;
  background-color: white !important;
  border-radius: 10px;
  aspect-ratio: 1/1;
}



/* our experties container */

.industries_we_serve_card {
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
  transition: box-shadow 0.3s ease-in-out;
}

.industries_we_serve_card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.615);
}

/* services page */



/* careers page */
.vacancy_card {
  background: rgba(15, 116, 156, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(15, 116, 156, 1);
}

.vacancy_card_2 {
  background-color: #d1d1d16d;
  border: 0;
  padding: 16px;
}

.benifits-card {
  background-color: rgba(255, 255, 255, 0.529);
  height: 100%;
  width: 100%;
}

/* careers page */